extends layout

block content
    - var len = batch.length
    - for (var i = 0; i < len; i++) {
        - var current = batch[i]
        div(class="col-sm-4")
            div(class="thumbnail")
                - var itemPath = '/products/' + current["category"] + '/' + current["subcategory"] + '/' + current["name"]
                a(href="#{itemPath}")
                    - var img = current["img"]
                    img(src="#{img}")
                    a(href="#{itemPath}")
                        p(class="product-name") #{current["name"]}
                    div(class="details")
                        p(class="price") #{current["price"]}
                        - var addToCartPath = '/cart/add/' + current["category"] + '/' + current["subcategory"] + '/' + current["name"] +'/1'
                        span(class="addSignleItem add-to-cart glyphicon glyphicon-shopping-cart" id="#{addToCartPath}")
    - }

